name: Test

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - v*
  pull_request:

jobs:
  TOX:
    name: "Run tests with different versions and mypy once"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, "3.10", "3.11"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install testing dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest-asyncio
          python -m pip install --pre tox tox-gh-actions
      - name: Run Tox
        run: tox
